<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <style>
		.c{
			color: #3559E0;
		}
		.card {
            border-radius: 15px;
        }
	</style>
</head>
<body>
	<div th:replace="HeaderAbout"></div>
	<div class="container">
        <br>
        <h2 style="text-align: center; color: #3559E0;">TALK THERAPY TEAM</h2>
        <br>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card c">
                    <br>
                    <center>
                        <img src="https://th.bing.com/th/id/OIP.x2s7G3GxX_5NT678Ne0FDQAAAA?w=474&h=474&rs=1&pid=ImgDetMain" alt="" style="border-radius: 50%; width: 30%; height: 30%;">
                        <br>
                        <h4>Shashank</h4>
                        <br>
                        <p>Electronics and Telecommunication Engineer</p>
                        <br>
                        <div class="row mb-3" style="place-content: center;">
                            <div class="col-lg-1">
                                <a href="https://www.facebook.com/">
                                <i style="font-size: 30px;" class="c fa fa-address-book-o" aria-hidden="true"></i>
                                </a>
                            </div> 
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card c">
                    <br>
                    <center>
                        <img src="https://st2.depositphotos.com/1007566/11505/v/450/depositphotos_115054638-stock-illustration-avatar-business-man-vector-graphic.jpg" alt="" style="border-radius: 50%; width: 30%; height: 30%;">
                        <br>
                        <h4>Mahesh</h4>
                        <br>
                        <p>Electronics and Telecommunication Engineer</p>
                        <br>
                        <div class="row mb-3" style="place-content: center;">
                            <div class="col-lg-1">
                                <a href="https://www.facebook.com/">
                                <i style="font-size: 30px;" class="c fa fa-address-book-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="card c">
                    <br>
                    <center>
                        <img src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-1024.png" alt="" style="border-radius: 50%; width: 30%; height: 30%;">
                        <br>
                        <h4>Chhabildas</h4>
                        <br>
                        <p>Computer Engineer</p>
                        <br>
                        <div class="row mb-3" style="place-content: center;">
                            <div class="col-lg-1">
                                <a href="https://www.facebook.com/">
                                <i style="font-size: 30px;" class="c fa fa-address-book-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="col-lg-2 ">

            </div>
            <div class="col-lg-4 ">
                <div class="card c">
                    <br>
                    <center>
                        <img src="https://www.pngrepo.com/download/213506/boss-man.png" alt="" style="border-radius: 50%; width: 30%; height: 30%;">
                        <br>
                        <h4>Shubham</h4>
                        <br>
                        <p>Mechanical Engineer</p>
                        <br>
                        <div class="row mb-3" style="place-content: center;">
                            <div class="col-lg-1">
                                <a href="https://www.facebook.com/">
                                <i style="font-size: 30px;" class="c fa fa-address-book-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="card c">
                    <br>
                    <center>
                        <img src="https://th.bing.com/th/id/OIP.x2s7G3GxX_5NT678Ne0FDQAAAA?w=474&h=474&rs=1&pid=ImgDetMain" alt="" style="border-radius: 50%; width: 30%; height: 30%;">
                        <br>
                        <h4>Abhishek</h4>
                        <br>
                        <p>Electrical and Electronics Engineer</p>
                        <br>
                        <div class="row mb-3" style="place-content: center;">
                            <div class="col-lg-1">
                                <a href="https://www.facebook.com/">
                                <i style="font-size: 30px;" class="c fa fa-address-book-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
            <div class="col-lg-2 ">

            </div>
        </div>
    </div>
    <br>
    <div th:replace="Footer"></div>
</body>
</html>