<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="background-color: #c4d9E9;">
	<div th:replace="HeaderWithLogout"></div>
	
	<h2 class="text-center mt-5"
            style="color:rgb(53, 125, 184)">
            WELCOME  ADMIN</h2>
	
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card therapist-card">
                <div class="card-body">
					<a href="userlist">
                    <h5 class="card-title">User Details</h5>
                    <p class="card-text">Details about register user</p>
					</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card patient-card">
                <div class="card-body">
					<a href="counsellorlist">
                    <h5 class="card-title">Counsellor Details</h5>
                    <p class="card-text">Details about registerd counsellor</p>
					</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card appointment-card">
                <div class="card-body">
					<a href="counsellorregister">
                    <h5 class="card-title">Add Counsellor</h5>
                    <p class="card-text">Register New counsellor</p>
					</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card session-card">
                <div class="card-body">
					<a href="adminconfirm">
                    <h5 class="card-title">Confirm Appointments </h5>
                    <p class="card-text">Connect User and Counsellor</p>
					</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

</div>
<div th:replace="Footer"></div>
</body>
</html>
