<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Section</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div th:replace="Header"></div>
    <section class="assessment_banner__cq0P8">
        <div class="container">
            <h1>Assessment</h1>
            <p>Take a Free Mental Health Test</p>
            <div class="assessment_banner_main__BVv_B">
                <div class="assessment_banner_left__dPeHO">
                    <p class="assessment_text_assessments__nm1AE">We can't improve what we don't measure, this couldn't
                        be
                        more accurate for mental health. It's time to change that, get in touch with your thoughts and
                        feelings with the assessments below. Online tests are the quickest and easiest way to evaluate
                        symptoms of a mental health condition.</p>
                    <div class="assessment_assessment_num_main__WI0Ng">
                        <div class="assessment_assessments_header__TY5Ki">
                            <h3>300K</h3>
                        </div>
                        <div class="assessment_assessments_footer__1ELWM">
                            <p>Assessments Done</p>
                        </div>
                    </div>
                </div>
                <div class="assessment_banner_right__XyyM0"><img
                        src="https://media.istockphoto.com/id/1304726157/vector/psychotherapy-counseling-and-mental-health.jpg?s=612x612&w=0&k=20&c=qHeXkRmiYWDeG5Oyq_zXsVQ3hsRdsOfLGaiqqrHNBDM="
                        alt="assesment-banner"></div>
            </div>
        </div>
    </section>

    <section class="assessment_assesment__u5bTX">
        <div class="container">
            <div class="assessment_assesment_main__VU9VU">
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1674644683715.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>Am I stressed</h5>
                        <p>Explore how stress has been taking a toll on your well-being. Take the assessment today! </p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1674644694676.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>Am I Sad Or Depressed?</h5>
                        <p>Is it more than just feeling low? Take the assessment to find out. </p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1674644715665.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>How am I sleeping ?</h5>
                        <p>Are you getting the quality sleep you deserve? Know today by taking the assessment.</p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1674644883173.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>Am I Anxious?</h5>
                        <p>Anxiety jitters never leave you. Take the self-check today to understand your anxiety better.
                        </p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1689598356636.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>Happiness Scale</h5>
                        <p>Are you happy? Know today by taking the assessment.</p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
                <div class="assessment_assesment_list__C7gIb"><img
                        src="https://betterlyf-upload.s3.amazonaws.com/1689070372139.png" alt="assesment card image"
                        class="assessment_imgOne__JrEKt">
                    <div class="assessment_assesment_content__bm4fc">
                        <h5>Workplace Stress Test</h5>
                        <p>Are you getting sick-listed due to work-related stress? Know today by taking the assessment
                        </p>
                        <div class="assessment_assTakeBtn__r4ty0"><b>Take Test</b></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <h2 class="text-center mt-2 mb-3"
            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:rgb(72, 94, 116)">
            LATEST BLOG</h2>
        <h3 class="text-center"
            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(53, 125, 184)">
            Our latest blog section </h3>
        <h3 class="text-center"
            style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: rgb(53, 125, 184)">
            for all updates </h3>
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://media.istockphoto.com/id/1319763895/photo/smiling-mixed-race-mature-man-on-grey-background.jpg?b=1&s=612x612&w=0&k=20&c=jIlBJzxPiqpROW_F-CsYMHscAcwBqUsrv72uFKwqvlc="
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://img.freepik.com/free-photo/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased-expression-standing-white-background-smiling-with-arms-crossed-chest_1258-59329.jpg"
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://www.shutterstock.com/image-photo/smiling-young-middle-eastern-man-600nw-2063524544.jpg"
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://media.istockphoto.com/id/1319763895/photo/smiling-mixed-race-mature-man-on-grey-background.jpg?b=1&s=612x612&w=0&k=20&c=jIlBJzxPiqpROW_F-CsYMHscAcwBqUsrv72uFKwqvlc="
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://img.freepik.com/free-photo/lifestyle-beauty-fashion-people-emotions-concept-young-asian-female-office-manager-ceo-with-pleased-expression-standing-white-background-smiling-with-arms-crossed-chest_1258-59329.jpg"
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-3">
                <div class="card" style="border-radius: 40px 0 40px 0;">
                    <img src="https://www.shutterstock.com/image-photo/smiling-young-middle-eastern-man-600nw-2063524544.jpg"
                        alt="" style="border-radius: 40px 0 0 0;">
                    <div class="card-body">
                        <h6>Lorem</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consectetur veniam facere
                            quidem perferendis beatae, debitis nobis illum molestias iste similique velit suscipit
                            asperiores quas deserunt nisi tenetur vero tempore.
                        </p>
                        <h6>
                            <a href="https://www.google.com/" style="text-decoration: none; color:cadetblue">Read More
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
        </div>
    </div> 
   	<div th:replace="Footer"></div>
</body>

</html>