* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83A2FF; /* Blue */
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

/* animations: start */
input:focus~label,
input:valid~label {
    top: -5px;
}

/* animation:end */
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.inputbox select {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #83A2FF;
}

.forget {
    margin: -10px 0 17px;
    font-size: 0.9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.forget label input {
    margin-right: 3px;
}

.forget a {
    color: #fff;
    text-decoration: none;
}

.forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .form-box {
        width: 100%;
        border-radius: 0px;
    }
}

body{
    background-color: #c4d9E9;
}
.header_section{
    background: #86B6F6;
  }
  .nav-link{
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    
    
  }
  .nav-link.email{
    text-transform: none;
    color: #fff;
  }
  .nav-link img{
    width: 1rem;
  }
  .refer_btn{
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    background: #3559E0;
    border-radius: 25px;
    height: 50px;
    width: 120px;
  }
  #navbarSupportedContent ul{
    width: 80%;
    
  }
  #navbarSupportedContent .nav_inner_container {
    width: 30%;
    background: #000000;
  }
  /* .change:hover{
    color: #3559E0;
  } */
  .rectangle2{
    background-color: #474747;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(72, 94, 116);
}
h6{
    color: rgb(53, 125, 184);
}
li{
    color: rgb(72, 94, 116);
}
.mySlider {
    height: 400px;
}
.h3,.subh{
    color: rgb(72, 94, 116);
}
.h2,.mainh{
    color: rgb(53, 125, 184);
}

i{
    font-size: 16px !important;
}
.left-div1 {
    flex: 1;
}
.left-div {
    flex: 5;
    text-align: left;
}

.right-div1,
.right-div2 {
    flex: 2;
    text-align: left;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}