.header_section{
    background: deepskyblue;
}
.nav-link{
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
}
.nav-link.email{
    text-transform: none;
}
.nav-link img{
    width: 1rem;
}
.refer_btn{
    text-transform: capitalize;
    font-weight: bold;
    text-transform: capitalize;
    background: #fff;
}
#navbarSupportedContent ul{
    width: 80%;
}
#navbarSupportedContent .nav_inner_container {
    width: 30%;
    background: #000000;
}

.bg1{
    background-image: url("assets/images/bg1.png");
    height: 100vh;
  }

#banner{
    background-image: url("assets/images/banner.png");
    height: 500px;
    width: 100%;
    
}

.bgblur{
    height: 500px;
    width: 500px;
}

.bgblur2{
    height: 500px;
    width: 500px;
    position: relative;
}
.bgblur3{
    height: 500px;
    width: 500px;
    position: relative;
}