@charset "ISO-8859-1";
*{
    padding: 0px;
    margin:0px;
  }
  
  body{
    background-color: #c4d9E9;
  }
  
  .header_section{
    background: #86B6F6;
  }
  .nav-link{
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    
    
  }
  .nav-link.email{
    text-transform: none;
    color: #fff;
  }
  .nav-link img{
    width: 1rem;
  }
  .refer_btn{
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    background: #3559E0;
    border-radius: 25px;
    height: 50px;
    width: 120px;
  }
  .refer_btn:hover {
    background-color: #3559E0;
    transform: scale(1.05);
}
  #navbarSupportedContent ul{
    width: 80%;
    
  }
  #navbarSupportedContent .nav_inner_container {
    width: 30%;
    background: #000000;
  }
  /* .change:hover{
    color: #3559E0;
  } */
  .rectangle2{
    background-color: #474747;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    }
  
  .d-block{
    width: 1500px;
    height: 500px;
  }
  
  .leftside{
    margin-left:450px;
    color: white;
  }
  
  .thirdcarouseltext{
    /* margin-top: 30px; */
    margin-left: 500px;
    margin-bottom: 180px;
  }
  
  .secondtextcarousel{
    /* margin-left: px; */
    margin-bottom: 200px;
    margin-right: 400px;
  }
  
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(72, 94, 116);
}
h6{
    color: rgb(53, 125, 184);
}
li{
    color: rgb(72, 94, 116);
}
.mySlider {
    height: 400px;
}
.h3,.subh{
    color: rgb(72, 94, 116);
}
.h2,.mainh{
    color: rgb(53, 125, 184);
}

i{
    font-size: 16px !important;
}
.left-div1 {
    flex: 1;
}
.left-div {
    flex: 5;
    text-align: left;
}

.right-div1,
.right-div2 {
    flex: 2;
    text-align: left;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}

.therapist-card {
  background-color: #f8d7da; /* Red */
}

.patient-card {
  background-color: #d4edda; /* Green */
}

.appointment-card {
  background-color: #d1ecf1; /* Blue */
}

.session-card {
  background-color: #fff3cd; /* Yellow */
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.assessment_banner__cq0P8 {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20221226/pngtree-simple-blue-background-rules-and-regulations-display-board-background-image_1495101.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 120px 0;
}

.assessment_banner_main__BVv_B {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assessment_banner_right__XyyM0 {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.assessment_assesment__u5bTX {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.assessment_assesment_main__VU9VU {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.assessment_assesment_list__C7gIb {
  width: 48%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}

.assessment_imgOne__JrEKt {
  width: 30%;
  height: 100%;
  border-radius: 100px;
  padding: 10px;
}

.assessment_assesment_content__bm4fc:hover {
  width: 70%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}